.git
.gitignore
.github
.vscode
.husky
node_modules
src
.changeset
docs
resources
.DS_Store
tsconfig.json
vite.config.ts
eslint.config.js
commitlint.config.js
CONTRIBUTING.md
pnpm-lock.yaml
**/*.ts
**/*.map
**/*.vsix
**/*.svg
extension/
!out/extension.cjs
!images/png/bookmark.png 